:root {
  --background: #111;
  --backgroundSection: #1a1d22;
  /* Button con Background */
  --backgroundButtonPrimary: #f73445;
  --textColorButton: #fddadd;
  --textColorP: #fff;

  /* Button sin background */
  --backgroundButtonSecondary: #1a1d22;
  --borderButtonSecondary: #d33140;
  --textColorButtonSecondary: #c8303e;
  /* Text secondary blue */
  --textColorSecondary: #273487;
}
*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--background);
  height: 100vh;
  width: 100%;
}