.buttonLink {
    background-color: var(--backgroundButtonPrimary);
    border-radius: 50px;
    border: 1px solid var(--borderButtonSecondary);
    margin-top: 15px;
    height: 40px;
    cursor: pointer;
}  
.aLink:visited{
    color: var(--textColorButton);
}
.aLink{
    text-decoration: none;
    padding: 5px 50px;
}
.aLink:hover{
    font-weight: 700;
}
.button{
    max-width: 200px;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    border: none;
    background-color: var(--backgroundButtonPrimary);
    color: var(--textColorButton);
    cursor: pointer;
    margin-left: 20px;
}
.changeLanguage{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--textColorButton);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-right: 20px;
}
.changeLanguage:hover{
    font-weight: 700;
}

.iconEnable {
    display: flex;
    align-items: center;
    color: var(--textColorButton);
    height: 30px;
    margin-right: 30px;
}
