.buttonLink {
    background-color: var(--backgroundButtonPrimary);
    padding: 5px 50px;
    border-radius: 50px;
    border: 1px solid var(--borderButtonSecondary);
    margin-top: 15px;
    height: 40px;
    cursor: pointer;
}  
.aLink:visited{
    color: var(--textColorButton);
}
.aLink{
    text-decoration: none;
}
.button{
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 40px;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    border: none;
    background-color: var(--backgroundButtonPrimary);
    color: var(--textColorButton);
    cursor: pointer;
}
.changeLanguage{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--textColorButton);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}