/* Header */
.containerHeader{
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--backgroundButtonPrimary);
}
/* Seccion Imagen */
.containerSection{
    background-color: var(--background);
    position: relative;
    width: 100%;
    max-height: 600px;
    height: 100%;
    /* cuidado lo de flex */
    display: flex;
    justify-content: center;
}
.containerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .4;
    position: absolute;
}
.containerH1 {
    position: absolute;
    top: 150px;
    left: 75px;
}
/* Seccion Proyectos */
.containerSectionMain{
    width: 100%;
    background-color: var(--backgroundSection);
}
.containerSectionProjects{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 0;
}
.containerSectionProjectsDiv {
    min-width: 400px;
    max-width: 700px;
    width: 100%;
    height: 100%;
}
.containerSectionProjects img {
    max-width: 200px;
    width: 100%;
}

/* Seccion mySkill */
.containerSectionMySkill{
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.containerSectionFrontBack{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.containerMainProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
}
.containerProgress {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}
.containerProgress div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.containerProgress label{
    color: var(--textColorButton);
}
.containerProgress progress{
    width: 100%;
    background-color: transparent;
}
.containerProgress progress::-webkit-progress-value{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--backgroundButtonPrimary);
}
.containerProgress progress::-webkit-progress-bar{
    background-color:#DFE6E9;
    height: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Seccion Contactos */
.containerSectionFooter{
    background-color: var(--background);
    position: relative;
    width: 100%;
    max-height: 500px;
    height: 100%;
    /* cuidado lo de flex */
    display: flex;
    justify-content: center;
}
.containerForm{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
}
.containerInput {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.containerInput input{
    max-width: 250px;
    width: 100%;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.containerInput textarea{
    width: 100%;
    resize: none;
    height: 150px;
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    border: none;
}
.containerForm button{
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--backgroundButtonPrimary);
    color: var(--textColorButton);
    cursor: pointer;
}