.textP {
    color: var(--textColorButton);
    margin: 5px 10px 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 18px;
}
.textA{
    color: var(--textColorButton);
    margin: 5px 10px 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}
.textA:hover{
    font-weight: 700;
}
.textH1 {
    color: var(--textColorButton);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.textH3 {
    color: var(--textColorButton);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.textLabelH1{
    font-size: 16px;
    color: var(--backgroundButtonPrimary);
    font-size: 40px;
}

.textMySkill{
    color: var(--textColorButton);
    font-size: 35px;
    text-align: center;
}
.textMySkillFrontBack{
    color: var(--textColorButton);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.textLabel{
    font-size: 18px;
    color: var(--backgroundButtonPrimary);
}

@media (max-width: 525px) {
    .textP {
        font-size: 16px;
    }
    .textA{
        font-size: 16px;
    }
    .textH1{
        font-size: 30px;
    }
    
}
/* #273487, #1d0d3e */
/* este #1d0c3d o este #1f2062 */