@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.textP {
    color: var(--backgroundButtonPrimary);
    margin: 5px 10px 5px 10px;
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
}
.textLabel{
    color: var(--textColorButton);
    font-size: 18px;
    text-decoration: none;  
}
.aTextA{
    color: var(--textColorButton);
    text-decoration: none;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
}
.aTextA:visited{
    color: var(--textColorButton);
    text-decoration: none;
}
/* SideBar */
.textA{
    margin: 5px 10px 5px 10px;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: var(--textColorButton);
}

.Icon{
    color: var(--textColorButton);
}
.textH1 {
    color: var(--textColorButton);
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    margin-left: 20px;
}
.textH3 {
    color: var(--textColorButton);
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    margin-left: 20px;
}
.textLabelH1{
    font-size: 16px;
    color: var(--backgroundButtonPrimary);
    font-size: 40px;
    margin-bottom: 25px;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
}

.textMySkill{
    color: var(--backgroundButtonPrimary);
    font-size: 35px;
    text-align: center;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
}
.textMySkillFrontBack{
    color: var(--textColorButton);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
}
.labelTitleMySkill{
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Rajdhani', sans-serif;
}


@media (max-width: 525px) {
    .textP {
        font-size: 16px;
    }
    .textA{
        font-size: 16px;
    }
    .textH1{
        font-size: 30px;
        margin-left: 20px;
    }
    .textH3{
        margin-left: 20px;
    }
    
}
