.buttonLink {
    background-color: var(--backgroundButtonPrimary);
    border-radius: 50px;
    border: 1px solid var(--borderButtonSecondary);
    margin-top: 15px;
    height: 40px;
    cursor: pointer;
    color: var(--textColorButton);
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 20px;
}  
.aLink{
    text-decoration: none;
    padding: 5px 50px;
    color: var(--textColorButton);
    font-family: 'Balsamiq Sans', cursive;
}
.aLink:visited{
    color: var(--textColorButton);
}

.aLink2{
    width: 100%;
    padding: 0 auto;
    text-decoration: none;
    padding: 10px 70px;
    font-size: 17px;
    color: var(--textColorButton);
}

.changeLanguage{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--textColorButton);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-right: 20px;
}
.changeLanguage:hover{
    font-weight: 700;
}

.iconEnable {
    color: var(--textColorButton);
    margin: 0 20px;
}
/* Spinner */
.button_loading .span_loading{
    visibility: hidden;
    opacity: 0;
}
.button_loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top-color: #ffff;
    border-radius: 50%;
    animation: button_loading_spinner 1s ease infinite;
}
.buttonCV {
    border: none;
    outline: none;
    color: var(--textColorButton);
    background-color: transparent;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    margin: 0 15px 0px 10px;
    cursor: pointer;
}
@keyframes button_loading_spinner {
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}