/* Header */
.containerHeader{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* direction: rtl; */
    height: 40px;
    z-index: 1;
    width: 100%;
    background-color: var(--textColorSecondary);
    border-bottom: 1px solid var(--backgroundButtonPrimary);
}
.containerFormHeader{
    height: 100%;
    display: flex;
    align-items: center;
}

/* Seccion Imagen */
.containerSection{
    background-color: var(--background);
    position: relative;
    width: 100%;
    max-height: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.containerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .4;
    position: absolute;
}
.containerH1 {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    top: 35%;
}

/* Seccion Proyectos */
.containerSectionMain{
    width: 100%;
    background-color: var(--backgroundSection);
    border-bottom: 1px solid var(--backgroundButtonPrimary);
    border-top: 1px solid var(--backgroundButtonPrimary);
}
.containerSectionProjects{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}
.containerSectionProjectsDiv {
    width: 75%;
    height: 100%;
    padding: 0 10px;
}
.containerSectionProjects img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    margin: auto auto;
}

/* Seccion mySkill */
.containerSectionMySkill{
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border-bottom: 1px solid var(--backgroundButtonPrimary);
}
.containerSectionFrontBack{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.containerMainProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    margin: 0 10px;
}
.imgIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}
.imgIcons img {
    max-width: 100px;
    height: 60px;
    margin: 10px 10px;
}
.imgIconsBack{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}
.imgIconsBack img{
    max-width: 150px;
    margin: 10px 10px;
}

/* Seccion Contactos */
.containerSectionFooter{
    background-color: var(--background);
    position: relative;
    width: 100%;
    max-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.containerForm{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
}
.containerInput {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}
.containerInput input{
    max-width: 250px;
    width: 100%;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Balsamiq Sans', cursive;
}
.containerInput textarea{
    width: 100%;
    resize: none;
    height: 150px;
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    border: none;
    font-family: 'Balsamiq Sans', cursive;
}
.containerForm button{
    position: relative;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--backgroundButtonPrimary);
    color: var(--textColorButton);
    cursor: pointer;
    margin-bottom: 15px;
    font-family: 'Balsamiq Sans', cursive;
}
.containerRedes {
    direction: rtl;
}
.containerRedes a {
    text-decoration: none;
    margin: 10px 10px;
    color: var(--backgroundButtonPrimary);
    cursor: pointer;
}

/* SideBar */
.containerEnable{
    position: absolute;
    margin-top: 200px;
    z-index: 1;
    background-color: var(--textColorButtonSecondary);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}
.containerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
.containerIconA{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.iconButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--backgroundButtonPrimary);
    margin-right: 10px;
}


@media (max-width: 525px) {
    .containerH1 {
        top: 20%;
    }
    .containerSectionProjectsDiv{
        width: 100%;
    }
}